<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<meta charset="UTF-8">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>Responsive Dashboard Design #1 | AsmrProg</title>
</head>

<body>

<div class="container">
    <!-- Sidebar Section -->
    <aside>
        <div class="toggle">
            <div class="logo">
                <img src="/images/logo.png">
                <h2>SD<span class="danger">Lab</span></h2>
            </div>
            <div class="close" id="close-btn">
                    <span class="material-icons-sharp">
                        close
                    </span>
            </div>
        </div>

        <div class="sidebar">
            <a href="/user/dashboard">
                    <span class="material-icons-sharp">
                        dashboard
                    </span>
                <h3>Book a time</h3>
            </a>

            <a href="/user/bookings">
                    <span class="material-icons-sharp">
                        receipt_long
                    </span>
                <h3>Your Bookings</h3>
            </a>

            <a href="/user/payment">
                    <span class="material-icons-sharp">
                        mail_outline
                    </span>
                <h3>Payment</h3>
                <span class="message-count"></span>
            </a>






            <a href="/login"th:action="@{/logout}" method="post">
                    <span class="material-icons-sharp">
                        logout
                    </span>
                <h3>Logout</h3>
            </a>
        </div>
    </aside>
    <!-- End of Sidebar Section -->

    <!-- Main Content -->
    <main>
        <div class="new-users">
            <h2>View Test Result</h2>
            <div class="user-list">
                <head>
                    <title>Payment Form</title>
                </head>
                <meta name="viewport" content="width=device-width, initial-scale=1.0">


                <title>Payment Details</title>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


                <script type="text/javascript">


                    $(document).ready(function() {
                        $('#searchForm').submit(function(event) {
                            event.preventDefault();
                            var bookingId = $('#bookingId').val();
                            $.get('/payment/' + bookingId, function(amount) {
                                console.log("Received amount:", amount);
                                $('#paymentAmount').val(amount);
                                $('#bookingIdPayment').val(bookingId);
                            }).fail(function(xhr, status, error) {
                                console.error("Error:", error);
                                $('#paymentAmount').val('Error: ' + xhr.responseText);
                            });
                        });


                    });


                    function submitPayment() {
                        var bookingIdInput = document.getElementById('bookingIdPayment');
                        var paymentAmountInput = document.getElementById('paymentAmount');
                        var cardDetailsInput = document.getElementById('cardDetails');

                        // Check if the inputs are empty
                        if (bookingIdInput.value.trim() === '' || paymentAmountInput.value.trim() === '' || cardDetailsInput.value.trim() === '') {
                            var errorDiv = document.getElementById('errorMessage');
                            errorDiv.innerText = "All fields are required.";
                            errorDiv.style.display = 'block';
                            return;
                        }

                        var formData = new FormData();
                        formData.append('bookingIdPayment', bookingIdInput.value.trim());
                        formData.append('paymentAmount', paymentAmountInput.value.trim());
                        formData.append('cardDetails', cardDetailsInput.value.trim());

                        fetch('/payment/submit', {
                            method: 'POST',
                            body: formData,
                        }).then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                            return response.json();
                        }).then(data => {
                            var successDiv = document.getElementById('successMessage');
                            var errorDiv = document.getElementById('errorMessage');

                            if (data.successMessage) {
                                successDiv.innerText = data.successMessage;
                                window.location.reload();
                                alert("Payment added successfully!");
                                successDiv.style.display = 'block';
                                errorDiv.style.display = 'none';
                            }

                            if (data.errorMessage) {
                                errorDiv.innerText = data.errorMessage;
                                errorDiv.style.display = 'block';
                                successDiv.style.display = 'none';
                            }
                        }).catch(error => {
                            console.error('There was a problem with the fetch operation:', error);
                            var errorDiv = document.getElementById('errorMessage');
                            window.location.href = "/user/testresult"
                            errorDiv.style.display = 'block';
                            var successDiv = document.getElementById('successMessage');
                            successDiv.style.display = 'none';
                        });
                    }


                </script>

                </head>
                <body>

                <div>
                    <h1>Payment Details</h1>

                    <form id="searchForm">
                        <label for="bookingId">Enter Booking ID</label>
                        <input type="text" id="bookingId" name="bookingId" required>
                        <button class="submit-button" type="submit">Search</button>

                    </form>

                </div>




                <div id="errorMessage" style="display: none; color: red;"></div>
                <div id="successMessage" style="display: none; color: green;"></div>
                <form id="paymentForm">
                    <label for="bookingIdPayment">Booking ID:</label>
                    <input type="text" id="bookingIdPayment" name="bookingIdPayment" readonly required><br><br>

                    <label for="paymentAmount">Payment Amount:</label>
                    <input type="text" id="paymentAmount" name="paymentAmount" readonly required><br><br>

                    <label for="cardDetails">Card Details:</label>
                    <input type="text" id="cardDetails" name="cardDetails" required><br><br>

                    <button class="submit-button" type="button" onclick="submitPayment()">Pay</button>
                </form>


                </body>
            </div>
        </div>
    </main>



    <div class="right-section">
        <div class="nav">
            <button id="menu-btn">
                    <span class="material-icons-sharp">
                        menu
                    </span>
            </button>
            <div class="dark-mode">
                    <span class="material-icons-sharp active">
                        light_mode
                    </span>
                <span class="material-icons-sharp">
                        dark_mode
                    </span>
            </div>

            <div class="profile">
                <div class="info" >
                    <p>Hey, <b th:inline="text"> [[${#httpServletRequest.remoteUser}]]!</b></p>
                    <small class="text-muted" th:if="${currentUser}"></small>
                </div>
                <div class="profile-photo">
                    <img src="/images/profile-1.jpg">
                </div>
            </div>


        </div>
    </div>


</div>


<script src="/index.js"></script>
</body>

</html>